body, html {
   background-color: #fafafa; 
   overflow: scroll; 
}

@media screen and (max-width:900px) {
    .container {
        background-color: rebeccapurple;
    }

}

.behind_white {
    height: 70px;
    width: 100%;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: #fafafa; 
    z-index: 3; 
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.container {
    height: 70px;
    width: 970px;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed; 
    margin-right: auto; 
    margin-left: auto;
    background-color: #fafafa;  
    min-width: 700px;
}

.logo_name {
    position: absolute; 
    height: 70px;
    display: inline;  
    left: 10px;  
}

#regavi_logo {
    display: inline;
    position: relative;
    height: 45px;
    width: 45px;
    top: 12px; 
}

#name {
    display: inline;
    position: relative;
    color: #ff3c4b; 
    font-weight: 700; 
    font-size: 3em;
    font-family:
}

.header_links {
    position: absolute;  
    height: 70px;
    width: 550px;
    display: inline;  
    left: 210px;  
}

.links {
    float: left;
    width: 25%; 
    height: 70px; 
    text-align: center;
    vertical-align: middle; 
    line-height: 70px; 
    color: #ff3c4b; 
    font-size: 17px; 
}

#thispage {
    color: gray; 
}

.header_links a, .logo_name a {
    text-decoration: none; 
    color: #ff3c4b;
}

.social_links {
    position: absolute; 
    height: 70px;
    width: 180px;
    display: inline;  
    left: 750px;  
}

#facebook_logo, #instagram_logo {
    width: 50px; 
    height: 50px;
    position: relative;
    top: 10px; 
    float: right;
    margin-right: 15px; 
}
/*-----------------------*/
.container2 {
    height: 660px;
    width: 100%;
    top: 70px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed; 
    margin-right: auto; 
    margin-left: auto;
    background-color: #ff3c4b;  
    min-width: 700px;
    overflow: scroll; 
}

.mission {
    top: 70px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: absolute; 
    margin-right: auto; 
    margin-left: auto; 
    height: 70px; 
    line-height: 70px;
    vertical-align: middle; 
}

.mission_p {
    text-align: center; 
    vertical-align: middle; 
    line-height: 30px; 
    color: #fafafa; 
    font-size: 32px; 
    font-weight: 350;
}

.description {
    top: 120px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: absolute; 
    margin-right: auto; 
    margin-left: auto; 
    height: 70px; 
    width: 100%;
    font-weight: 100 !important;
}

.description_p {
    text-align: center; 
    vertical-align: middle; 
    line-height: 30px; 
    color: #fafafa;
    font-size: 25px; 
    font-weight: 100 !important;
}

.download {
    top: 500px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: absolute; 
    margin-right: auto; 
    margin-left: auto; 
    height: 70px; 
    width: 420px;
}

#app_store, #google_play {
    width: 180px; 
    height: 60px;
    margin-left: 20px; 
}
/*-----------------------*/
.emailForm {
    margin-top: 220px; 
    display: block; 
    text-align: center; 
    margin-right: auto; 
    margin-left: auto;
    width: 300px; 
}

form {
    text-align: left; 
}

input {
    width: 100px;
}

textarea {
    width: 200px;
    height: 50px;
}

#submit {
    width: 120px; 
    height: 40px;
    font-size: 15px; 
    color: blue; 
    background-color: #C6C6C6;
}

#submit:hover {
    cursor: pointer; 
    background-color: #A2A2A2; 
}

/*-----------------------*/
.footer {
    width: 100%;
    height: 70px;
    background-color: #fafafa;
    position: relative;
    top: 660px;  
    overflow-y: scroll;
}

.policy_links {
    position: absolute; 
    left: 180px;
    width: 650px; 
    height: 70px;
}

.policy_row {
    width: 100%;
    height: 70px; 
}

.policy_column {
    text-align: center; 
    line-height: 70px;
    vertical-align: middle ;
    float: left;
    width: 25%;
    height: 70px; 
    font-size: 14px;
}

.policy_column a  {
    color: black;
    text-decoration: none; 
}

.policy_column a:hover {
    color: gray;
}

#incorporated {
    color: gray; 
}


