body, html {
   background-color: #fafafa; 
}

@media screen and (max-width:900px) {
    .container {
        background-color: rebeccapurple;
    }

}

.container {
    height: 70px;
    width: 1000px;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed; 
    margin-right: auto; 
    margin-left: auto;
    background-color: #fafafa;  
    min-width: 700px;
}

.logo_name {
    position: absolute; 
    height: 70px;
    display: inline;  
    left: 10px;  
}

#regavi_logo {
    display: inline;
    position: relative;
    height: 45px;
    width: 45px;
    top: 12px; 
}

#name {
    display: inline;
    position: relative;
    color: #ff3c4b; 
    font-weight: 700; 
    font-size: 3em;
    font-family:
}

.header_links {
    position: absolute;  
    height: 70px;
    width: 400px;
    display: inline;  
    left: 300px;  
}

.links {
    float: left;
    width: 131px; 
    height: 70px; 
    text-align: center;
    vertical-align: middle; 
    line-height: 70px; 
    color: #ff3c4b; 
    font-size: 17px; 
}

a {
    text-decoration: none; 
    color: #ff3c4b;
}

.social_links {
    position: absolute; 
    height: 70px;
    width: 180px;
    display: inline;  
    left: 750px;  
}

#facebook_logo, #instagram_logo {
    width: 50px; 
    height: 50px;
    position: relative;
    top: 10px; 
    float: right;
    margin-right: 15px; 
}
/*-----------------------*/