body, html {
   background-color: #fafafa;
   overflow: scroll;
    -webkit-overflow-scrolling: touch;

}

@media screen and (max-width:900px) {
    .container {
        background-color: rebeccapurple;
    }

}

.behind_white {
    height: 70px;
    width: 100%;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: #fafafa; 
    z-index: 3; 
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.container {
    height: 70px;
    width: 970px;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: fixed; 
    margin-right: auto; 
    margin-left: auto;
    background-color: #fafafa;  
    min-width: 700px;
}

.logo_name {
    position: absolute; 
    height: 70px;
    display: inline;  
    left: 10px;  
}

#regavi_logo {
    display: inline;
    position: relative;
    height: 45px;
    width: 45px;
    top: 12px; 
}

#name {
    display: inline;
    position: relative;
    color: #ff3c4b; 
    font-weight: 700; 
    font-size: 3em;
    font-family:
}

.header_links {
    position: absolute;  
    height: 70px;
    width: 550px;
    display: inline;  
    left: 210px;  
}

.links {
    float: left;
    width: 25%; 
    height: 70px; 
    text-align: center;
    vertical-align: middle; 
    line-height: 70px; 
    color: #ff3c4b; 
    font-size: 17px; 
}

#thispage {
    color: gray; 
}

.header_links a, .logo_name a {
    text-decoration: none; 
    color: #ff3c4b;
}

.social_links {
    position: absolute; 
    height: 70px;
    width: 180px;
    display: inline;  
    left: 750px;  
}

#facebook_logo, #instagram_logo {
    width: 50px; 
    height: 50px;
    position: relative;
    top: 10px; 
    float: right;
    margin-right: 15px; 
}
/*-----------------------*/
.container2 {
    height: 2100px;
    width: 100%;
    top: 45px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    position: absolute; 
    margin-right: auto; 
    margin-left: auto;
    background-color: #ff3c4b;  
    min-width: 700px;
    z-index: -1;
}

.section {
    width: 970px; 
    height: 300px;
    margin-right: auto; 
    margin-left: auto;
}

#section1, #section3, #section5 {
    background-color: #fafafa; 
}

#section2, #section4, #section6 {
    background-color: #e8e6e6; 
}

#section1 {
    text-align: center; 
}

.local_links {
    position: relative;
    top: 20px; 
}

.local_links a{
    color: blue;
    text-decoration: none;
}

.section1_header {
    font-size: 25px; 
    position: relative;
    top: 20px; 
}

.section1_p {
    margin-right: auto; 
    margin-left: auto;
    margin-top: 60px;
    font-size: 22px;
    width: 650px;
    color: rgb(92, 91, 91); 
}

.section_row {
    width: 970px;
    height: 300px; 
}

.section_column {
    float: left;
    width: 485px;
    height: 300px; 
}

.left_header, .right_header {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 25px; 
    font-weight: 600; 
}

.left_sub_header, .right_sub_header {
    position: relative;
    bottom: 10px; 
    margin-left: 60px;
    font-size: 20px;
    color: rgb(92, 91, 91);
}

.left_description, .right_description {
    margin-left: 60px;
    font-size: 18px; 
    width: 320px; 
    color: rgb(59, 59, 59);
}

.right_screenshots, .left_screenshots {
    width: 100%; 
    height: 300px;
}

.picture1, .picture2 {
    width: 160px;
    height: 280px;
    float: left;
    margin-left: 35px; 
    margin-top: 10px; 
}

.screenshot {
    width: 160px;
    height: 280px;
}
/*-----------------------*/
.footer {
    position: relative; 
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    right: 0px;
    width: 100%;
    min-width: 1000px;
    height: 300px;
    background-color: #fafafa; 
}

.footer_row {
    width: 100%;
    height: 300px; 
}

.footer_column { 
    float: left;
    width: 48%;
    height: 290px; 
}

.left_footer_header {
    margin-top: 10px;
    margin-left: 150px;
    font-size: 25px; 
    font-weight: 600; 
}

.left_footer_subheader {
    position: relative;
    bottom: 10px; 
    margin-left: 150px;
    font-size: 20px;
    color: rgb(92, 91, 91);
}

.footer_description {
    font-size: 18px; 
    width: 350px; 
    color: rgb(59, 59, 59);
    margin-left: 150px;
    text-align: left; 
}

.footer_right_container {
    width: 300px; 
    height: 200px;
    margin-left: 60px;
    margin-top: 30px; 
}

.footer_row1, .footer_row2, .footer_row3 {
    height: 33%;
    width: 100%;
}

.right_column {
    width: 22%; 
    height: 100%;
    float: left;
    margin-left: 5px;
}

.right_column img {
    width: 50px; 
    height: 50px;
}
/*-----------------------*/
.footer2 {
    width: 100%;
    height: 70px;
    background-color: #fafafa;
    position: relative;  
}

.policy_links {
    position: absolute; 
    left: 180px;
    width: 650px; 
    height: 70px;
}

.policy_row {
    width: 100%;
    height: 70px; 
}

.policy_column {
    text-align: center; 
    line-height: 70px;
    vertical-align: middle ;
    float: left;
    width: 25%;
    height: 70px; 
    font-size: 14px;
}

.policy_column a  {
    color: black;
    text-decoration: none; 
}

.policy_column a:hover {
    color: gray;
}

#incorporated {
    color: gray; 
}

.language_select {
    height: 70px;
    width: 200px;
    position: absolute; 
    left: 1000px;
    text-align: center; 
    line-height: 70px; 
    vertical-align: middle; 
}

.dropdown_button {
    border-radius: 3px; 
    font-size: 15px;  
    font-weight: 100; 
}